/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
}

.theme-light .rec_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
  }

  .rec_element {
    display: none;
  }
}
