/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --link-shadow: #ff8dcb;
  --link-border: #353430;
  --main-title-color: #ffc2e6;
  --title-card-color: #353430;
  --text-card-color: #353430;
  --section_title-color: #353430;
  --header-menu-text: #353430;
  --menu-button-border: #353430;
  --menu-button-border-opacity: #32312d66;
}

.theme-light .rec_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --link-shadow: #ff8dcb;
    --link-border: #353430;
    --main-title-color: #ffc2e6;
    --title-card-color: #353430;
    --text-card-color: #353430;
    --section_title-color: #353430;
    --header-menu-text: #353430;
    --menu-button-border: #353430;
    --menu-button-border-opacity: #32312d66;
  }

  .rec_element {
    display: none;
  }
}
