/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  inline-size: 100%;
  block-size: 100%;
  padding: var(--main-padding, 20px);

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.rec_element {
  display: flex;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  font-family: var(--main-font, monospace);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 25px;
  color: var(--accent-color);
  top: 0;
  right: 10px;
}

.rec_element::after {
  content: "";
  inline-size: 10px;
  block-size: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
}

.link_style {
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
}

.link_shodow {
  text-shadow: 3px 3px 0 var(--link-shadow);
}

.link_style:hover {
  border-bottom: 1px solid var(--link-border);
}

.link_style:focus-visible {
  outline: none;
  border: 1px solid var(--link-border);
}

.header {
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 768px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 40px;
  left: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-right: var(--accent-color) solid 1px;
  border-top: var(--accent-color) solid 1px;
  top: 0;
  right: 0;
}

.header__theme-menu {
  max-inline-size: 230px;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.header__theme-menu-item {
  font-family: var(--main-font, monospace);
  font-weight: 400;
  font-style: Regular;
  font-size: var(--main-font-size, 18px);
  text-align: center;
  color: var(--header-menu-text);
}

.header__theme-menu-button {
  display: inline-block;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 13px;
  padding-right: 13px;
  background: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--menu-button-border);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-border-opacity);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-border);
  pointer-events: none;
}

.header_title {
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-size: clamp(116px, 6.32vw + 92.28px, 157px);
  line-height: 83%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
  padding-bottom: 35px;
  margin-left: -18px;
}

.header_paragraph {
  inline-size: 100%;
  max-inline-size: 491px;
  align-self: center;
  justify-self: end;
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  margin-bottom: 78px;
}

.content {
  max-inline-size: 1024px;
  display: grid;
  gap: 59px;
  grid-template-columns: 1fr;
  margin: auto;
}

.section {
  inline-size: 100%;
}

.section_title {
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  color: var(--section_title-color);
}

.cards_title {
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.title_decor {
  background-color: var(--accent-color);
  color: var(--title-card-color);
}

.card {
  inline-size: 100%;
}

.cards_text {
  font-family: var(--main-font, monospace);
  font-weight: 400;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--text-card-color);
}

.hard_to_concentrate {
  display: grid;
  grid-template-columns: minmax(min-content, 315px) 1fr;
  gap: 20px;
}

.hard_to_concentrate .section_title {
  grid-row-start: 1;
  grid-row-end: span 3;
}

.decrease_in_concentration {
  display: grid;
  gap: var(--main-grid-gap, 20px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title . ."
    "card1 card2 card3";
  margin-bottom: 20px;
}

.decrease_in_concentration .section_title {
  grid-area: title;
}

.decrease_in_concentration .card:nth-of-type(1) {
  grid-area: card1;
}

.decrease_in_concentration .card:nth-of-type(2) {
  grid-area: card2;
}

.decrease_in_concentration .card:nth-of-type(3) {
  grid-area: card3;
}

.how_to_concentrate {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(min-content, 315px) 1fr;
  margin-bottom: 20px;
}

.how_to_concentrate_cards_box {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.how_to_concentrate_cards_box .cards_title {
  margin: 0;
}

.how_to_concentrate_cards_box .cards_text {
  margin-top: 10px;
}

.title_decor_thin {
  font-weight: 400;
}

.images_section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-grid-gap, 20px);
  margin-bottom: 60px;
}

.gallery {
  display: grid;
  gap: var(--main-grid-gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 433px;
  grid-auto-flow: dense;
}

.gallery_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery .gallery_image:nth-of-type(1) {
  grid-column: 1 / span 2;
}

.gallery .gallery_image:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.gallery .gallery_image:nth-of-type(3) {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.gallery .gallery_image:nth-of-type(5) {
  grid-column: 2 / span 2;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 768px;
}

.footer_title {
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(116px, 6.32vw + 92.28px, 157px);
  line-height: 83%;
  color: #db00ff;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer.decorated-zone::before {
  bottom: 20px;
}

.footer.decorated-zone::after {
  top: 20px;
}

@media (width <=1023px) {
  .header {
    grid-template-columns: 1fr;
    min-block-size: 768px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
    max-inline-size: 70px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header_title {
    margin-left: -17px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0;
  }

  .header_paragraph {
    align-self: center;
    inline-size: 100%;
    max-inline-size: 364px;
    margin: 0;
  }

  .header.decorated-zone::before {
    bottom: 38px;
  }

  .hard_to_concentrate {
    grid-template-columns: minmax(min-content, 236px) 1fr;
  }

  .content {
    gap: 59px;
  }

  .decrease_in_concentration {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .decrease_in_concentration .section_title {
    max-inline-size: 236px;
    align-content: start;
  }

  .hard_to_concentrate .cards_title,
  .decrease_in_concentration .cards_title {
    margin-bottom: 10px;
  }

  .how_to_concentrate {
    margin-top: 20px;
    grid-template-columns: minmax(min-content, 236px) 1fr;
  }

  .how_to_concentrate_cards_box .card .cards_title {
    margin-bottom: 10px;
  }

  .images_section {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer.decorated-zone::before {
    bottom: 20px;
  }

  .footer.decorated-zone::after {
    top: 20px;
  }
}

@media (width <=767px) {
  .page {
    padding: 10px;
  }

  .header {
    grid-template-columns: 1fr;
    gap: 10px;
    min-block-size: 668px;
    margin-bottom: 30px;
  }

  .header__theme-menu {
    padding-top: 30px;
    justify-self: end;
    align-self: center;
    max-inline-size: 70px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header_title {
    padding-top: 20px;
    margin: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header_paragraph {
    padding-top: 10px;
    align-self: center;
    inline-size: 100%;
    min-inline-size: 355px;
  }

  .header.decorated-zone::before {
    bottom: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  .section_content_mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hard_to_concentrate {
    margin-bottom: 30px;
  }

  .decrease_in_concentration {
    margin-bottom: 10px;
  }

  .decrease_in_concentration .section_title {
    inline-size: 100%;
    min-inline-size: 355px;
  }

  .how_to_concentrate {
    margin-bottom: 10px;
  }

  .images_section,
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .images_section {
    margin-top: 20px;
  }

  .gallery .gallery_image {
    object-fit: cover;
  }
  .gallery .gallery_image:nth-of-type(1) {
    inline-size: 100%;
    max-block-size: 142px;
  }

  .gallery .gallery_image:nth-of-type(2) {
    inline-size: 100%;
    max-block-size: 355px;
  }

  .gallery .gallery_image:nth-of-type(3) {
    inline-size: 100%;
    max-block-size: 237px;
  }

  .gallery .gallery_image:nth-of-type(4) {
    inline-size: 100%;
    max-block-size: 355px;
  }

  .gallery .gallery_image:nth-of-type(5) {
    inline-size: 100%;
    max-block-size: 237px;
  }

  .footer {
    min-block-size: 668px;
    margin-top: -17px;
  }

  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer.decorated-zone::before {
    bottom: 10px;
  }

  .footer.decorated-zone::after {
    top: 10px;
  }
}
