/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-font: IBM Plex Mono, monospace;
  --main-font-size: 18px;
  --main-grid-gap: 20px;
  --main-padding: 20px;
}
