/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color-dark-them: #000028;
  --bg-image-dark-them: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-font: IBM Plex Mono;
  --main-font-size: 18px;
  --main-grid-gap: 20px;
  --main-padding: 20px;
}